<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.binfree.mapper.FormMapper">

<select id="getFormList" resultType="com.binfree.domain.FormVO">
	<![CDATA[select * from form where id > 0]]>
</select>

<insert id="formInsert">
	<!-- value의 #{FormVO 변수와 같이 선언 해주어야함} -->
	INSERT INTO FORM(NAME, FORMPASSWORD, PHONE, ZIPCODE, LOC, INPUTLOC, SERVLOC, APPDATE, UPDATEDATE, PIC)
	VALUES(#{name}, #{formPassword}, #{phone}, #{zipCode}, #{loc}, #{inputLoc} ,#{servLoc} , NOW(), NOW(), #{pic});
</insert>

<!-- 오류 유발할 코드 테스트 중 -->
<!-- 
<insert id="formInsertSelectKey">
	<selectKey keyProperty="id" order="BEFORE" resultType="long">
		select 
	</selectKey>
</insert>
-->

<select id="formRead" resultType="com.binfree.domain.FormVO">
	SELECT * FROM FORM WHERE ID = #{id}
</select>

<delete id="formDelete">
	DELETE FROM FORM WHERE ID = #{id}	
</delete>

<update id="formUpdate">
	UPDATE FORM
	SET NAME = #{name},
	PHONE = #{phone},
	ZIPCODE = #{zipCode},
	LOC = #{loc},
	INPUTLOC = #{inputLoc},
	SERVLOC = #{servLoc},
	UPDATEDATE = NOW(),
	PIC = #{pic}
	WHERE ID = #{id}
</update>

</mapper>